#findLocation, #inputArea {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#title {
	font-size: 100px;
	letter-spacing: 3px;
	padding-left: 20px;
	padding-right: 20px;
}

.btn {
	height: 30px;
	padding-top: 5px;
}

#userInput {
	width: 300px;
	padding-left: 20px;
}

#textArea {
	font-size: 17px;
	margin-bottom: 15px;
}

#mapArea, #listArea {
	height: 450px;
	background-color: lightgray;
	border: 1px solid black;
	margin: 30px auto;
}
